  body {
  display: flex;  
  background-image: url("https://media.istockphoto.com/id/1322277517/uk/фото/дика-трава-в-горах-на-заході-сонця.jpg?s=612x612&w=0&k=20&c=aZ4txqFK9gct4JWpoPa6QKfTZ6Bre60aMkHx3CeS75U=");
  background-size: 1500px;
  font-family: "Montserrat", sans-serif;
}

.weather-app-container {
  display: block;
  max-width: 500px;
  margin: 70px auto;
  padding: 0 auto;
  border: none;
  border-radius: 3px;
  box-shadow: 3px 3px 3px 3px rgba(5, 0, 0, 0.2);
}

.row-search-form {
  display: flex;
  justify-content: space-evenly;
  margin: 5px auto;
}

.header-text,
.header-seach,
.current-location-button {
  background-color: rgb(243, 243, 234);
  border-radius: 5px;
  border: 1px solid rgba(174, 168, 168, 0.5);
  font-size: 20px;
  line-height: 22px;
}

.header-text {
  color: grey;
  text-align: center;
  font-weight: 400;
  margin-bottom: 5px;
  padding: 7px 5px;
}

.header-text:hover,
.header-text:focus {
  border: 1px solid rgba(174, 168, 168, 0.5);
  cursor: pointer;
}

.header-seach {
  color: #2c5d63;
  font-weight: 500;
  padding: 7px 5px;
}

.header-seach:hover,
.header-seach:focus {
  background: #2c5d63;
  color: rgb(243, 243, 234);
  border: 1px solid rgba(174, 168, 168, 0.5);
  cursor: pointer;
}

.current-location-button {
  padding: 7px 5px;
}

.current-location-button:hover {
  background: #2c5d63;
  cursor: pointer;
}

.header-datatime {
  color: #2c5d63;
  font-size: 18px;
  line-height: 20px;
  font-weight: 500;
  text-align: center;
  margin: 10px 35px;
}

.hero-title {
  color: #2c5d63;
  font-size: 44px;
  line-height: 46px;
  font-weight: 700;
  text-align: center;
  margin: 10px auto;
}

.weather-temperature {
  color: #2c5d63;
  font-size: 44px;
  line-height: 46px;
  font-weight: 700;
  text-align: center;
}

.active {
  text-decoration: none;
  color: #2c5d63;
  font-size: 24px;
  line-height: 26px;
  font-weight: 600;
  text-align: center;
  position: relative;
  top: -14px;
}

.selected,
.units-C-F {
  text-decoration: none;
  color: #2c5d63;
  font-size: 24px;
  line-height: 26px;
  font-weight: 400;
  text-align: center;
  position: relative;
  top: -14px;
}

.active:hover,
.selected:hover {
  color:#a7466b;
  cursor: default;
}

.row-weather-condition {
  display: flex;
  justify-content: space-evenly;
}

.weather-description {
  color:#a7466b;
  font-size: 20px;
  line-height: 22px;
  font-weight: 600;
  text-transform: capitalize;
  margin: 0 auto;
}

ul {
  list-style-type: none;
}

.weather-humidity,
.weather-wind {
  color: #2c5d63;
  font-size: 18px;
  line-height: 20px;
  font-weight: 400;
}

.container {
  display: flex;
  justify-content: space-evenly;
}

.col-forecast {
  background-image: url("https://media.istockphoto.com/id/1322277517/uk/фото/дика-трава-в-горах-на-заході-сонця.jpg?s=612x612&w=0&k=20&c=aZ4txqFK9gct4JWpoPa6QKfTZ6Bre60aMkHx3CeS75U=");
  background-size: cover;
  color: rgb(243, 243, 234);
  font-size: 18px;
  line-height: 20px;
  font-weight: 400;
  text-align: center;
  margin: 5px 5px;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  box-shadow: 3px 3px 3px 3px rgba(57, 55, 55, 0.5);
}

.weather-forecast-date {
  color: #2c5d63;
  font-size: 18px;
  line-height: 20px;
  font-weight: 600;
}

.weather-forecast-temperatures {
  color: rgb(243, 243, 234);
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
}

.weather-forecast-temperature-max {
  font-weight: 900;
}

.weather-forecast-temperature-min {
  color: rgb(222, 216, 216);
  opacity: 0.6;
}

.footer {
  color: rgb(243, 243, 234);
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  text-align: center;
  margin: 5px;
}

.creator-link {
  color: rgb(243, 243, 234);
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  text-decoration: none;
}

.creator-link:hover {
  color: rgb(243, 243, 234);
  font-weight: 700;
  cursor: pointer;
}

.open-source-link {
  color:#a7466b;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
}

.open-source-link:hover {
  color:#a7466b;
  font-weight: 700;
  text-decoration: none;
  cursor: pointer;
} 

